@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Sans+KR&display=swap');

/*
font-family: 'Do Hyeon', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

a {
	text-decoration: none;
	color: black;
}

*:focus {
    outline: none;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5em;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: white;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.15);
	box-shadow:0 2px 2px rgba(0,0,0,.15);
	z-index: 200;
	user-select: none;
}

header * {
	display: inline-block;
}


ul, li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
	user-select: none;
}


li.topMenuLi {
	position: abolute;
	display: inline-block;
	padding: 0;
	transition: margin .2s;
	font-size: 0.9rem;
	font-family: 'Noto Sans KR', sans-serif;
	user-select: none;
}
li.topMenuLi span {
	display: inline-block;
	padding-bottom: 8px;
}


.submenu {
	  display: none;
	  position: absolute;
	  background: white;
	  min-width: 160px;
	  padding: 12px 16px;
	  z-index: 1;
	  -webkit-box-shadow:0 2px 2px 2p rgba(0,0,0,.15);
	  box-shadow:0 2px 2px rgba(0,0,0,.15);
}

#menu1:hover #sub1 {
	 display: none;
	 display: block;
}
#menu2:hover #sub2 {
	 display: none;
	 display: block;
}
#menu3:hover #sub3 {
	 display: none;
	 display: block;
}


.header_main {
	background: white;
	height: 5em;
	padding: 30px;
	box-sizing: border-box;
}


li.topMenuLi {
	margin-right: 50px;
}
li.topMenuLi ul {
	text-align: center;
	padding: 10px;
	width: 50px;
}
li.topMenuLi ul li {
	width: 100%;
}
li.topMenuLi ul li:hover a {
	color: #6DC1FF;
}

div.sign_box {
	position: fixed;
	right: 5%;
	bottom: 5%;
	width: 500px;
	height: 250px;
	border-top: solid 10px #6DC1FF;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.15);
	box-shadow:0 2px 2px rgba(0,0,0,.15);
	z-index: 200;
}

.frm_sign div.wrap {
	margin: 20px 50px;
}

.frm_sign label {
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0;
    display: block;
}

.frm_sign input {
    display: block;
    width: 100%;
    height: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 2px;
}

.frm_sign input[type="submit"] {
	height: 40px;
}

 .frm_sign textarea {
    display: block;
    width: 100%;
    height: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px; 
    resize: none;
    resize: both;
    resize: horizontal;
    resize: vertical;
    transition: font-size 0.2s;
 }
 
 .frm_sign textarea:focus {
     font-size: 15px;
 }

 .frm_sign textarea.part {
    display: block;
    width: 100%;
    height: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px; 
    resize: none;
    resize: both;
    resize: horizontal;
    resize: vertical;
    transition: font-size 0.2s;
 }
 
 .frm_sign textarea.part:focus {
     font-size: 15px;
 }
 
  .frm_sign input[id="email_save"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
  }
  
  .frm_sign input[id="email_save"]:checked {
    background: #ff0000;
  }


@media all and (min-width:768px) and (max-width:1024px) {
    div.wrap {
		margin-left: 12%;
	}
	
	div.header_logo {
		margin-left: 5%;
	}
}
   
@media all and (min-width:1025px) {   	
   div.wrap {
		margin-left: 16%;
   }
	
	div.header_logo {
		margin-left: 5%;
	}
}
	

.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2.5px;
    border-radius: 0;
    border:1px solid;
    height: 50px;
    line-height: 10px;
    padding: 0.8rem 2rem;
}

.btn:hover{
    color:#fff;
    border:1px solid;
}

.btn-already{
    color: #000;
    background: white;
}
.btn-already:hover{
    color: #000;
    background: white;
}

.btn-default{
    border: 1px #f5f5f5 solid;
    background-color: transparent;
    color:#3BABFD;
    border-radius: 0;
}
.btn-default:hover{
    border-color:#3BABFD;
    background-color: #3BABFD;
}

.btn-primary{
    color: #fff;
    background-color: #3BABFD;
    border:1px #3BABFD solid;
}
.btn-primary:hover{
    background-color: #eee;
    border-color: #eee;
    color:#3BABFD;
}

.btn-primary_delete{
    background-color: #eee;
    border-color: #eee;
    color:#3BABFD;
}
.btn-primary_delete:hover{
    color: #fff;
    background-color: #fff;
    border: 1px #fff solid;
}

.btn-change {
    color: #3BABFD;
    background: white;
    border: 2px #3BABFD solid;
}
.btn-change:hover{
    color: #3BABFD;
    background: white;
    border: 2px #3BABFD solid;
}

.page_title {
	float: left;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 40px;
	font-family: 'Noto Sans KR', sans-serif;
}

div#content {
	margin-top: 6em;
}

#content04_1 {
	float: left;
	width: 50%;
	background: rgb(199,161,134);
} 
#content04_2 {
	float: left;
	width: 50%;
	background: rgb(176,137,114);
}

.find {
	display: block;
	font-size: 24px;
	text-align: center;
}
.find_title {
	display: block;
	margin-bottom: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 48px;
	text-align: center;
}

.delivery_number {
 	color: white;
	font-size: 60px;
	font-family: 'Noto Sans KR', sans-serif;
}
.delivery {
	display: inline-block;
	margin: 20px auto;
	font-size: 20px;
	text-align: center;
	color: white;
}
.delivery_title {
	display: inline-block;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
}

.f {
	color: rgb(137,81,58);
  	font-family: gothicBold;
}
.f {
	background: black;
	color: #818181;
	font-size: 15px;
}
.f a {
	text-decoration: none;
	color: #818181;
}

.menu_link a{
	display: inline-block;
	height: 36px;
	padding-left: 10px;
	margin: 10px;
	line-height: 36px;
}

.menu_btn a{
	display: inline-block;
	height: 36px;
	padding: 0px 30px;
	margin: 5px;
	text-align: center;
	line-height: 36px;
	background: rgb(70,70,70);
	border-radius: 5px;
	color: white;
}


.menubar {
	position: absolute;
	left: 0;
	top: 8.5em;
	width: 100%;
	font-size: 14px;
	background: black;
	color: white;
	padding: 20px 12%;
}

@media all and (min-width:768px) and (max-width:1024px) {
	.page_padding_wrap {
		padding: 0 1%;
	}
}

@media all and (min-width:1025px) {
	.page_padding_wrap {
		padding: 0 12% 0 5%;
	}
}

.event_wrap {
	clear: both;
	display: block;
	margin-bottom: 150px;
}
.event_item {
	 display: inline-block;
	 width: 48%;
	 margin-bottom: 30px;
}
.event_item img {
	 object-fit: cover;
	 width: 100%;
}

.clickLestener {
	cursor: pointer;
}

/*
.event_wrap:nth-child(n) {
	float: left;
}
.event_wrap:nth-child(2n) {
	float: right;
}
*/
.event_time_b {
	display: inline-block;
	margin-top: 15px;
	font-family: 'gothicBold', sans-serif;
	font-size: 25px;
}

.event_title {
	width: 100%;
	padding: 30px 50px;
	border-width: 2px 0;
	border-top-color: black;
	border-bottom-color: rgb(229, 229, 229);
	background: rgb(250, 250, 250);
}
.event_title span.title {
	color: black;
}
.event_title span.time {
	color: rgb(167,138,138);
}